<div class="container">
<form action="" method="post"> //need to put action

<p>
	<button type="submit" class="button">Continue Application</button>
	<button type="submit" class="button">Last Page</button>
</p>
</div>

