<a href="localhost:4567/">Start Over doesn't work</a>
<input type="button" onclick="localhost:4567';" value="Start Over doesn't work either" />
<center>
<div class="container rounded-green">
<h4>
Thank you for your submission!</h4>

<br>
<p>A Mined Minds course mentor will contact you to set up an orientation meeting soon.
</p>
</div>
<div id="logo-big">
	<img src="http://www.minedminds.org/images/MM.jpg">
</div>
</center>

