<<<<<<< HEAD
THANK YOU FOR COMPLETING THE APPLICATION!
=======
<center><div class="container rounded-green" >
<p>
Thank you for your submition! A Mined Minds course mentor will contact you to set up an orientation meeting soon.
</p>
</div>
</center>
>>>>>>> 2602c69725d8ea1622aee64c67590ab2e5378b3e
