
<center>
<div class="container rounded-green">
<p><h4>
Thank you for your submition!</p>
</h4>
<br>
<p>A Mined Minds course mentor will contact you to set up an orientation meeting soon.
</p>
</div>
</center>
