
<div>

<form action="page1" method="post">
personal info table
<button type="submit" class="button">Edit</button>
</form>

<form action="/questionpg1" method="post">
questions table
<button type="submit" class="button">Edit</button>
</form>

<form action="/send_email" method="post">

	<button type="submit" class="button">Submit Application</button>
</form>
<button onclick="goBack()">Go Back</button>
</div>
