<center>
<div class="container pure-controls rounded-green">
	<form action="page1" method="post">
		Personal Info Table		
		<button type="submit" class="pure-button btn-mm">Edit</button>
		<button type="submit" class="pure-button button-warning">Edit</button>
	</form>
		<hr>
	<form action="/questionpg1" method="post">
		questions table
		<button type="submit" class="pure-button button-warning">Edit</button>
	</form>
		<hr>
	<form action="/send_email" method="post">
		<button type="submit" class="pure-button button-go">Submit Application</button> OR
		<button onclick="goBack()" class="pure-button btn-mm">Go Back</button>
	</form>
</div>
</center>