<form action="/index" method="post">
Sign In:
	<input type="text" name="email" placeholder="EMAIL">
	<input type="password" name="password" placeholder="PASSWORD">
	</form>
	<input type="submit" value="CREATE NEW ACCOUNT">