  <form action="/login" method="post">
    <b><p>Email</p></b>
    <p><input type="text" placeholder="Enter Email" name="email"></p>

    <b><p>Password</p></b>
    <p><input type="password" placeholder="Enter Password" name="password"></p>

    <!-- <b>Repeat Password</b>
    <p><input type="password" placeholder="Repeat Password" name="password_repeat" required></p> -->

      <button type="submit" class="button">Sign-in</button>
      </form>

    
      <p><form action="/signin" method="post">
      <button type="submit" class="button">Sign-up</button></p>
      </form