<!DOCTYPE html>

<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Bootstrap Link -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Pure Link -->
    <link rel="stylesheet" href="https://unpkg.com/purecss@0.6.2/build/pure-min.css" integrity="sha384-UQiGfs9ICog+LwheBSRCt1o5cbyKIHbwjWscjemyBMT9YCUMZffs6UqUTd0hObXD" crossorigin="anonymous">
<!-- Stylesheet Link -->
	<link href ='css/styles.css' rel='stylesheet'>
<!-- JQuery Script Link -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Bootstrap Script Link -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>
	<body>
		<div class="container">
			<nav class="navbar navbar-light bg-faded">
				  <a class="navbar-brand" href="http://www.minedminds.org">
				    <img src="http://www.minedminds.org/images/MM.jpg" width="120px" height="auto" class="d-inline-block align-top" alt="Mined Minds Logo link to minedminds.org">
				  </a>
				  <h2>Mined Minds Bootcamp Application Form</h2>
			</nav>
		</div>

		<!-- <div class="container" class="navbar navbar-fixed-top">
			<div class="logo" class="img">
				<a href="http://www.minedminds.org"><img src="http://www.minedminds.org/images/MM.jpg" alt="Mined Minds Logo"></a></div>
				<center>Mined Minds Bootcamp Application Form</center>
			</div> -->
			<hr class="blue-spacer">
		</header>

		<div id="container">
			<%=yield%>
	    </div>
	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="/js/bootstrap.min.js"></script>
	    <script>
			function goBack() {
	   		 window.history.back();
			}
		</script>
  </body>
</html>
<!-- #                           MMMMMM=                                      
 #                           .MMMMMMMMMMMMMM                                   
 #                         MMMMMM         MMMM                                 
 #                      MMMMM              MMMMM.                              
 #                MMMMMMMM                  ?MMMM.                             
 #             .MMMMMMMM7MM                  MMMMM                             
 #             MMMMMMMMM MM                   MMMM                             
 #             MMMMMMMMM .MM                   MMM                             
 #            .MMMMMMM.   MM.M.   =MMMMMMMM.   MMM                             
 #             MMMMMMMM.MMMMMM.  MMMMMMMM MMM  MMM                             
 #             MMMMMMMMMMMM     MMMMMMMMM  MMM MMM                             
 #            MMM    MMM:  MM   MMMMMMMMM  MMM MMM                             
 #           8MM.    MMMMMMMM=  MMMMMMMM.  .M ,MM7                             
 #          MMMMMMMM..          MMMMM.     M  MMM                              
 #         .MMMMMMMMMMMMMMM       MMMMMMMMM.  MMM                              
 #        .MMM        MMMMMMMMMMM.           MMMM                              
 #        MMM                .~MMMMMMM.      MMM.                              
 #       MMM.                               MMMM                               
 #      .MMM                                MMMM                               
 #      MMM                                DMMM                                
 #     MMM                                 MMMM                                
 #     MMM                                .MMM                                 
 #    MMM                      MM        .MMM                                  
 #    MMM                     .MM  MM.   MMM~                                  
 #    MMM                     MMM .MM.   MMM                         MMMMM     
 #    MMM                     MM. MMM   MMM                        MMM   MMO   
 #    MMM                     MM  MM   .MMM                      MMMM     MM   
 #    MM~                    MM. MMM   MMM.                     MMM      IMM   
 #    MM.                    MM  MM.  .MMM                    .MMM.      MM    
 #    MM                     M  MMN   .MMM                   MMMM       MM.    
 #    MM+                   MM MMM    .MM 7MMMMMMMMMMM      MMM.       MM      
 #    MMM                  .M  MM      MMMMMM. .. MMMMMMM MMM.       MMM.      
 #    MMM                  +M MMM      MM    .MM     .MMMMMM.      .MMM.       
 #    ?MM                  M  MM       .      MMM      ~MM.       MMMM         
 #    .MM                 MM  MM            ,MMMMMMMMMMM         MMMM          
 #     MMM              MM     MM          MMMMMMMMMMMMMMM     MMMMM           
 #     MMM            .M     N  MM                  ..MMMMM.     MMMM          
 #     .MM             MMMM MMMMMM                     .MMMMM        DMM       
 #      MMM              MMMMM.MM.             ,M,       .MMM.        MM       
 #       MMM               M.                  MMM         MMM.  .MMMM         
 #       MMMM                                              MMM.    MM          
 #        =MMM.                            MM.             MMM      MM         
 #          MMMM.                          MM              MMM       M         
 #            MMMM                                         MMMMM,. MMM         
 # .          MMMMMMM.                     MMM            MMM MMMMMM.          
 # MMMM      MMN  .MMMMM                               .MMMD                   
 # MM MMN  .MM    MM MMMMMMMM~ .              M.     .MMMM                     
 # MM   MM$MM   MMN      MMMMMMMMMM.          M.   .MMMM                       
 #  M.   MMM   MM              MMMMM  MMMMMMMMM~MMMMMM                         
 #  MM      .MMN          .. . +MM,  8MM .MMMMMMMM.                            
 #   M?    NMM           MMMMMMMMM   MM                                        
 #   .M  .MM7            MMM MMMM   MM                                         
 #     MMMM              OMM       .MM                                         
 #      .                 MMM      MM                                          
 #                        .MMM    MM                                           
 #                         .MMD  MMM                                           
 #                           MMMMM?                                            
 #                            MMM.                                              -->