<header><center><h2>Mined Minds Bootcamp Application Form</h2></center>


<p><link href ='css/styles.css' rel='stylesheet'></p>

<br><br><img src="http://www.minedminds.org/images/MM.jpg">
	
</header>
<body>
	
</body>
<%=yield%>