<link href ='css/styles.css' rel='stylesheet'>
<header><center>Mined Minds Bootcamp Application Form</center>
<img src="http://www.minedminds.org/images/MM.jpg">	
</header>
<body>
	
</body>
<%=yield%>