
<body>
<center><div class="container rounded-green pure-control-group">

  <form action="/login" method="post">

      <b><p>Email:</p></b>
      <p><input type="email" placeholder="Enter Email" name="email" required></p>
      <b><p>Password:</p></b><input type="password" placeholder="Enter Password" name="password" required></p>

      <p><button type="submit" class="button pure-button button-warning">Create Account</button></p>
      <p>Already Have An Account?</p>

  </form>

  <form action="/account" method="post">
      <p><button type="submit" class="button pure-button button-go">Login</button></p>
  </form>

    <p>OR</p>

  <p>

<!-- Facebook Javascript Code -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=686308438238380";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<!-- Facebook button -->
<div class="fb-login-button" data-width="250" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="true" data-use-continue-as="true"></div>

  </p>

  <p>OR</p>

<!-- Google Login -->
  <form method='post' action='message'>
      <p> Sign up with Google</p>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="182370847863-48of9fa5cjevk9fqrd5jta7vredjr16e.apps.googleusercontent.com">
    <div class="g-signin2" data-onsuccess="onSignIn"></div>
  </form>


</div>
</center>

 <form action='/delete_table' method='post'>
    <input type = "submit" value = "Delete Data" class="button-error"> if you dare!
   </form>
</body>