<center><div class="container rounded-green pure-control-group">

  <form action="/login" method="post">
      
      <b><p>Email: </b><input type="email" placeholder="Enter Email" name="email" required></p></b>
      <b><p>Password: </b><input type="password" placeholder="Enter Password" name="password" required></p></b>

      <p><button type="submit" class="button pure-button pure-button-primary">Sign-up</button></p>
      <p>Already Have An Account?</p>

  </form>
      
  <form action="/account" method="post">
      <p><button type="submit" class="button pure-button pure-button-primary">Sign-in</button></p>
  </form>

    <p>OR</p>

  <p>
    <form method='post' action='message'>
     <p>
      <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9&appId=416104722094334";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
      <div class="fb-login-button" data-max-rows="1" data-size="large" data-button-type="continue_with" data-show-faces="false" data-auto-logout-link="false" data-use-continue-as="false"></div>
    </form>
  </p>

  <p>OR</p>

  <form method='post' action='message'>
    Sign up with Google<p>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id" content="182370847863-48of9fa5cjevk9fqrd5jta7vredjr16e.apps.googleusercontent.com">
    <div class="g-signin2" data-onsuccess="onSignIn"></div> 
  </form>

  </p>
</div>
</center>

 <form action='/delete_table' method='post'>
    <input type = "submit" value = "Delete Data"> if you dare!
   </form>



  
<!-- <center><div class="container rounded-green" >
  <form action="/login" method="post">
    <b><p>Email: </b><input type="text" placeholder="Enter Email" name="email" required></p>

    <b><p>Password: </b><input type="password" placeholder="Enter Password" name="password" required></p>

    <p><button type="submit" class="button">Sign-up</button></p>
  </form>
  <form action="/account" method="post">
    <b><p>Email: </b><input type="text" placeholder="Enter Email" name="email" required></p>
    <b><p>Password: </b><input type="password" placeholder="Enter Password" name="password" required></p>
    <p><button type="submit" class="button">Sign-in</button></p>
  </form> -->
  <!-- #                           MMMMMM=                                      
 #                           .MMMMMMMMMMMMMM                                   
 #                         MMMMMM         MMMM                                 
 #                      MMMMM              MMMMM.                              
 #                MMMMMMMM                  ?MMMM.                             
 #             .MMMMMMMM7MM                  MMMMM                             
 #             MMMMMMMMM MM                   MMMM                             
 #             MMMMMMMMM .MM                   MMM                             
 #            .MMMMMMM.   MM.M.   =MMMMMMMM.   MMM                             
 #             MMMMMMMM.MMMMMM.  MMMMMMMM MMM  MMM                             
 #             MMMMMMMMMMMM     MMMMMMMMM  MMM MMM                             
 #            MMM    MMM:  MM   MMMMMMMMM  MMM MMM                             
 #           8MM.    MMMMMMMM=  MMMMMMMM.  .M ,MM7                             
 #          MMMMMMMM..          MMMMM.     M  MMM                              
 #         .MMMMMMMMMMMMMMM       MMMMMMMMM.  MMM                              
 #        .MMM        MMMMMMMMMMM.           MMMM                              
 #        MMM                .~MMMMMMM.      MMM.                              
 #       MMM.                               MMMM                               
 #      .MMM                                MMMM                               
 #      MMM                                DMMM                                
 #     MMM                                 MMMM                                
 #     MMM                                .MMM                                 
 #    MMM                      MM        .MMM                                  
 #    MMM                     .MM  MM.   MMM~                                  
 #    MMM                     MMM .MM.   MMM                         MMMMM     
 #    MMM                     MM. MMM   MMM                        MMM   MMO   
 #    MMM                     MM  MM   .MMM                      MMMM     MM   
 #    MM~                    MM. MMM   MMM.                     MMM      IMM   
 #    MM.                    MM  MM.  .MMM                    .MMM.      MM    
 #    MM                     M  MMN   .MMM                   MMMM       MM.    
 #    MM+                   MM MMM    .MM 7MMMMMMMMMMM      MMM.       MM      
 #    MMM                  .M  MM      MMMMMM. .. MMMMMMM MMM.       MMM.      
 #    MMM                  +M MMM      MM    .MM     .MMMMMM.      .MMM.       
 #    ?MM                  M  MM       .      MMM      ~MM.       MMMM         
 #    .MM                 MM  MM            ,MMMMMMMMMMM         MMMM          
 #     MMM              MM     MM          MMMMMMMMMMMMMMM     MMMMM           
 #     MMM            .M     N  MM                  ..MMMMM.     MMMM          
 #     .MM             MMMM MMMMMM                     .MMMMM        DMM       
 #      MMM              MMMMM.MM.             ,M,       .MMM.        MM       
 #       MMM               M.                  MMM         MMM.  .MMMM         
 #       MMMM                                              MMM.    MM          
 #        =MMM.                            MM.             MMM      MM         
 #          MMMM.                          MM              MMM       M         
 #            MMMM                                         MMMMM,. MMM         
 # .          MMMMMMM.                     MMM            MMM MMMMMM.          
 # MMMM      MMN  .MMMMM                               .MMMD                   
 # MM MMN  .MM    MM MMMMMMMM~ .              M.     .MMMM                     
 # MM   MM$MM   MMN      MMMMMMMMMM.          M.   .MMMM                       
 #  M.   MMM   MM              MMMMM  MMMMMMMMM~MMMMMM                         
 #  MM      .MMN          .. . +MM,  8MM .MMMMMMMM.                            
 #   M?    NMM           MMMMMMMMM   MM                                        
 #   .M  .MM7            MMM MMMM   MM                                         
 #     MMMM              OMM       .MM                                         
 #      .                 MMM      MM                                          
 #                        .MMM    MM                                           
 #                         .MMD  MMM                                           
 #                           MMMMM?                                            
 #                            MMM.                                              -->