<form action="/page1" method="post">

<p>PLEASE ENTER ALL FIELDS BEFORE CONTINUTING TO APPLICATION</p>
<p>Name:<input type="text" name="first" placeholder="FIRST"><input type="text" name="last" placeholder="LAST"></p>
<p>Address:<input type="text" name="street" placeholder="STREET"><input type="text" name="city" placeholder="CITY"><input type="text" name="state" placeholder="STATE"><input type="number" name="zip" placeholder="ZIP"></p>
</form>