<form action="/personalinfo" method="post">

<p>PLEASE ENTER CONTACT INFORMATION</p>
<p>Name:<input type="text" name="first" placeholder="FIRST"><input type="text" name="last" placeholder="LAST"></p>
<p>Address:<input type="text" name="street" placeholder="STREET"><input type="text" name="city" placeholder="CITY"><input type="text" name="state" placeholder="STATE"><input type="number" name="zip" placeholder="ZIP"></p>
<p>Contact Information:<input type="text" name="phonenumber" placeholder="PHONE NUMBER"><input type="text" name="contactemail" placeholder="EMAIL ADDRESS"></p>
<button type="submit" class="button">Submit</button>
</form>
