<div class="container">
<form action="/questions3" method="post">
<p><h3>Questions #16-20, pg.4</h3></p>
<!-- OPEN ENDED QUESTIONS -->
<!-- New Buttons -->
<p>
<div class="pure-controls">
 	<button type="submit" class="pure-button pure-button-primary">Next Page</button>
 	<button onclick="goBack()" class="pure-button pure-button-primary">Go Back</button>
</div>
</p>
<!-- Old Buttons -->
<!-- <p>
	<button type="submit" class="button">Next Page</button>
	<button onclick="goBack()">Go Back</button>
</p> -->

<!-- Start Questions -->
<div required class="rounded-green pure-control-group">
	<p><STRONG>Question 16</STRONG>:Please tell us about yourself.</p>
		<!-- <label for="question16">Why do you want to be a programmer?</label> -->
         	   <input id="question16" type="text" placeholder=" Must be between 1 and 1000 characters" class="answer-box" required>
          	  <!-- <span class="pure-form-message-inline">required</span> -->
</div>
<hr>
<div class="rounded-purple">
<p><STRONG>Question 17</STRONG>: Why do you want to learn to code?</p>
		<!-- <label for="question17">Do you like money? Why?</label> -->
         	   <input id="question17" type="text" placeholder=" Must be between 1 and 1000 characters" class="answer-box" required>
          	  <!-- <span class="pure-form-message-inline">required</span> -->
</div>
<hr>
<div class="rounded-green">
<p><STRONG>Question 18</STRONG>: Do you have any prior coding training or experience? If so, please describe it.</p>
		<!-- <label for="question18">Please tell us about yourself.</label> -->
         	   <input id="question18" type="text" placeholder=" Must be between 1 and 1000 characters" class="answer-box" required>
          	  <!-- <span class="pure-form-message-inline">required</span> -->
</div>
<hr>
<div class="rounded-purple">
<p><STRONG>Question 19</STRONG>: Please discuss your strengths and weaknesses.</p>
		<!-- <label for="question19">Do you like money? Why?</label> -->
         	   <input id="question19" type="text" placeholder=" Must be between 1 and 1000 characters" class="answer-box" required>
          	  <!-- <span class="pure-form-message-inline">required</span> -->
</div>
<hr>
<div class="rounded-green">
<p><STRONG>Question 20</STRONG>: What would you like to get out of the program?</p>
		<!-- <label for="question20">Do you like money? Why?</label> -->
         	   <input id="question20" type="text" placeholder=" Must be between 1 and 1000 characters" class="answer-box" required>
          	  <!-- <span class="pure-form-message-inline">required</span> -->
</div>
<!-- End Questions -->

<!-- New Buttons -->
<p>
<div class="pure-controls">
 	<button type="submit" class="pure-button pure-button-primary">Next Page</button>
 	<button onclick="goBack()" class="pure-button pure-button-primary">Go Back</button>
</div>
</form>
</p>

<!-- Old Buttons -->
<!-- <p>
	<button type="submit" class="button">REVIEW</button>
	</form> -->

	<!-- <form action="/questionpg3" action="post">
	<button type="submit" class="button">Back</button>
	</form> -->
	<!-- <button onclick="goBack()">Go Back</button>
</p> -->
