<div class="container">
<form action="/questions1" method="post">
<p><h3>Questions #6-10, pg.2</h3></p>

<p>
	<button type="submit" class="button">Next Page</button>
	<button type="submit" class="button">Last Page</button>
</p>

<div required class="rounded-green question">
<p><STRONG>Question 6</STRONG>: A, B, C or D?</p>
<p><input required type="radio" name="question6" value="a"> lorem</p>
<p><input type="radio" name="question6" value="b"> ipsum</p>
<p><input type="radio" name="question6" value="c"> dolor</p>
<p><input type="radio" name="question6" value="d"> sit</p>
</div>

<div class="rounded-purple question">
<p><strong>Question 7</strong>: A, B, C or D?</p>
<p><input type="radio" name="question7" value="a"> amet</p>
<p><input type="radio" name="question7" value="b"> consectetur</p>
<p><input type="radio" name="question7" value="c"> adipiscing</p>
<p><input type="radio" name="question7" value="d"> elit</p>
</div>

<div class="rounded-green">
<p><STRONG>Question 8</STRONG>: A, B, C or D?</p>
<p><input type="radio" name="question8" value="a"> Suspendisse dignissim placerat leo, quis fringilla turpis interdum ac.</p>
<p><input type="radio" name="question8" value="b"> Duis varius orci vitae porta commodo.</p>
<p><input type="radio" name="question8" value="c"> Vivamus ac sapien purus.</p>
<p><input type="radio" name="question8" value="d"> Integer pharetra, elit non scelerisque bibendum, eros massa maximus quam, dignissim sagittis nisi tortor at nibh.</p>
</div>

<div class="rounded-purple">
<p><strong>Question 9</strong>: A, B, C or D?</p>
<p><input type="radio" name="question9" value="a"> In elementum in erat pulvinar tincidunt. </p>
<p><input type="radio" name="question9" value="b"> Duis tincidunt, lectus non luctus semper, lectus ex convallis dui, a aliquam erat enim quis ex.</p>
<p><input type="radio" name="question9" value="c"> Fusce non nibh non metus consectetur pretium id vel risus.</p>
<p><input type="radio" name="question9" value="d"> Nullam consequat varius odio sit amet laoreet.</p>
</div>

<div class="rounded-green">
<p><strong>Question 10</strong>: A, B, C or D?</p>
<p><input type="radio" name="question10" value="a">quisque</p>
<p><input type="radio" name="question10" value="b">interdum</p>
<p><input type="radio" name="question10" value="c">pretium</p>
<p><input type="radio" name="question10" value="d">sollicitudin</p>
</div>

<p>
	<button type="submit" class="button">Next Page</button>
	</form>

	<!-- <form action="/questionpg1" action="post">
	<button type="submit" class="button">Back</button>
	</form> -->
	<button onclick="goBack()">Go Back</button>
</p>
