<div class="container">
<form action="/questions2" method="post">
<p><h3>Questions #11-15, pg.3</h3></p>

<p>
	<button type="submit" class="button">Next Page</button>
	<button onclick="goBack()">Go Back</button>
</p>

<div required class="rounded-green question">
<p><STRONG>Question 11</STRONG>: A, B, C or D?</p>
<p><input required type="radio" name="question11" value="a">lorem</p>
<p><input type="radio" name="question11" value="b"> ipsum</p>
<p><input type="radio" name="question11" value="c"> dolor</p>
<p><input type="radio" name="question11" value="d"> sit</p>
</div>

<div class="rounded-purple question">
<p><strong>Question 12</strong>: A, B, C or D?</p>
<p><input type="radio" name="question12" value="a"> amet</p>
<p><input type="radio" name="question12" value="b"> consectetur</p>
<p><input type="radio" name="question12" value="c"> adipiscing</p>
<p><input type="radio" name="question12" value="d"> elit</p>
</div>

<div class="rounded-green">
<p><STRONG>Question 13</STRONG>: A, B, C or D?</p>
<p><input type="radio" name="question13" value="a"> Suspendisse dignissim placerat leo, quis fringilla turpis interdum ac.</p>
<p><input type="radio" name="question13" value="b"> Duis varius orci vitae porta commodo.</p>
<p><input type="radio" name="question13" value="c"> Vivamus ac sapien purus.</p>
<p><input type="radio" name="question13" value="d"> Integer pharetra, elit non scelerisque bibendum, eros massa maximus quam, dignissim sagittis nisi tortor at nibh.</p>
</div>

<div class="rounded-purple">
<p><strong>Question 14</strong>: A, B, C or D?</p>
<p><input type="radio" name="question14" value="a"> In elementum in erat pulvinar tincidunt. </p>
<p><input type="radio" name="question14" value="b"> Duis tincidunt, lectus non luctus semper, lectus ex convallis dui, a aliquam erat enim quis ex.</p>
<p><input type="radio" name="question14" value="c"> Fusce non nibh non metus consectetur pretium id vel risus.</p>
<p><input type="radio" name="question14" value="d"> Nullam consequat varius odio sit amet laoreet.</p>
</div>

<div class="rounded-green">
<p><strong>Question 15</strong>: A, B, C or D?</p>
<p><input type="radio" name="question15" value="a"> quisque</p>
<p><input type="radio" name="question15" value="b"> interdum</p>
<p><input type="radio" name="question15" value="c"> pretium</p>
<p><input type="radio" name="question15" value="d"> sollicitudin</p>
</div>

<p>
	<button type="submit" class="button">Next Page</button>
	</form>

	<!-- <form action="/questionpg2" action="post">
	<button type="submit" class="button">Back</button>
	</form> -->
	<button onclick="goBack()">Go Back</button>
</p>


<!--   <form action='/delete_table4' method='post'>
    <input type = "submit" value = "Delete Data">
    </form> -->