<form action="/questions" method="post">
<p>Questions #1-5, pg.1</p>

<p><STRONG>Question 1</STRONG>: A, B, C or D?</p>
<p><input type="radio" name="question1" value="a">A</p>
<p><input type="radio" name="question1" value="b">B</p>
<p><input type="radio" name="question1" value="c">C</p>
<p><input type="radio" name="question1" value="d">D</p>

<p><strong>Question 2</strong>: A, B, C or D?</p>
<p><input type="radio" name="question2" value="a">A</p>
<p><input type="radio" name="question2" value="b">B</p>
<p><input type="radio" name="question2" value="c">C</p>
<p><input type="radio" name="question2" value="d">D</p>

<p><STRONG>Question 3</STRONG>: A, B, C or D?</p>
<p><input type="radio" name="question3" value="a">A</p>
<p><input type="radio" name="question3" value="b">B</p>
<p><input type="radio" name="question3" value="c">C</p>
<p><input type="radio" name="question3" value="d">D</p>

<p><strong>Question 4</strong>: A, B, C or D?</p>
<p><input type="radio" name="question4" value="a">A</p>
<p><input type="radio" name="question4" value="b">B</p>
<p><input type="radio" name="question4" value="c">C</p>
<p><input type="radio" name="question4" value="d">D</p>

<p><strong>Question 5</strong>: A, B, C or D?</p>
<p><input type="radio" name="question5" value="a">A</p>
<p><input type="radio" name="question5" value="b">B</p>
<p><input type="radio" name="question5" value="c">C</p>
<p><input type="radio" name="question5" value="d">D</p>

<p><button type="submit" class="button">Next Page</button></p>
</form>
