<div class="container">
<form action="/questions" method="post">
<p><h3>Questions #1-5, pg.1</h3></p>

<p>
	<button type="submit" class="button">Next Page</button>
	<button onclick="goBack()">Go Back</button>
</p>

<div required class="rounded-green question">
<p><STRONG>Question 1</STRONG>: A, B, C or D?</p>
<p><input required type="radio" name="question1" value="a"> lorem</p>
<p><input type="radio" name="question1" value="b"> ipsum</p>
<p><input type="radio" name="question1" value="c"> dolor</p>
<p><input type="radio" name="question1" value="d"> sit</p>
</div>

<div class="rounded-purple question">
<p><strong>Question 2</strong>: A, B, C or D?</p>
<p><input type="radio" name="question2" value="a"> amet</p>
<p><input type="radio" name="question2" value="b"> consectetur</p>
<p><input type="radio" name="question2" value="c"> adipiscing</p>
<p><input type="radio" name="question2" value="d"> elit</p>
</div>

<div class="rounded-green">
<p><STRONG>Question 3</STRONG>: A, B, C or D?</p>
<p><input type="radio" name="question3" value="a"> Suspendisse dignissim placerat leo, quis fringilla turpis interdum ac.</p>
<p><input type="radio" name="question3" value="b"> Duis varius orci vitae porta commodo.</p>
<p><input type="radio" name="question3" value="c"> Vivamus ac sapien purus.</p>
<p><input type="radio" name="question3" value="d"> Integer pharetra, elit non scelerisque bibendum, eros massa maximus quam, dignissim sagittis nisi tortor at nibh.</p>
</div>

<div class="rounded-purple">
<p><strong>Question 4</strong>: A, B, C or D?</p>
<p><input type="radio" name="question4" value="a"> In elementum in erat pulvinar tincidunt. </p>
<p><input type="radio" name="question4" value="b"> Duis tincidunt, lectus non luctus semper, lectus ex convallis dui, a aliquam erat enim quis ex.</p>
<p><input type="radio" name="question4" value="c"> Fusce non nibh non metus consectetur pretium id vel risus.</p>
<p><input type="radio" name="question4" value="d"> Nullam consequat varius odio sit amet laoreet.</p>
</div>

<div class="rounded-green">
<p><strong>Question 5</strong>: A, B, C or D?</p>
<p><input type="radio" name="question5" value="a"> quisque</p>
<p><input type="radio" name="question5" value="b"> interdum</p>
<p><input type="radio" name="question5" value="c"> pretium</p>
<p><input type="radio" name="question5" value="d"> sollicitudin</p>
</div>

<p>
	<button type="submit" class="button">Next Page</button>
	</form>

	<!-- <form action="/page1" action="post">
	<button type="submit" class="button">Back</button>
	</form> -->
	<button onclick="goBack()">Go Back</button>
</p>
 <!--  <form action='/delete_table2' method='post'>
    <input type = "submit" value = "Delete Data">
    </form> -->