<div class="container">
<form action="/questions2" method="post" class="pure-form">
<p><h3>Questions #11-15, pg.3</h3></p>
<!-- MULTIPLE ANSWER MULTIPLE CHOICE -->
<!-- New Buttons -->
<p>
<div class="pure-controls">
 	<button type="submit" class="pure-button pure-button-primary">Next Page</button>
 	<button onclick="goBack()" class="pure-button pure-button-primary">Go Back</button>
</div>
</p>
<!-- Old Buttons -->
<!-- <p>
	<button type="submit" class="button">Next Page</button>
	<button onclick="goBack()">Go Back</button>
</p> -->

<div required class="rounded-green question">
<p><STRONG>Question 11</STRONG>: Please check all that apply:</p>
<fieldset>
	<p><input required type="checkbox" name="question11" value="">Option 1</p>
	<p><input type="checkbox" name="question11" value="">Option 2</p>
	<p><input type="checkbox" name="question11" value="">Option 3</p>
	<p><input type="checkbox" name="question11" value="">Option 4</p>
	<p><input type="checkbox" name="question11" value="">Option 5</p>
	<p><input type="checkbox" name="question11" value="">Option 6</p>
	<p><input type="checkbox" name="question11" value="">Option 7</p>
</fieldset>
</div>

<div class="rounded-purple question">
<p><strong>Question 12</strong>: A, B, C or D?</p>
<p><input type="radio" name="question12" value="a"> amet</p>
<p><input type="radio" name="question12" value="b"> consectetur</p>
<p><input type="radio" name="question12" value="c"> adipiscing</p>
<p><input type="radio" name="question12" value="d"> elit</p>
</div>

<div class="rounded-green">
<p><STRONG>Question 13</STRONG>: A, B, C or D?</p>
<p><input type="radio" name="question13" value="a"> Suspendisse dignissim placerat leo, quis fringilla turpis interdum ac.</p>
<p><input type="radio" name="question13" value="b"> Duis varius orci vitae porta commodo.</p>
<p><input type="radio" name="question13" value="c"> Vivamus ac sapien purus.</p>
<p><input type="radio" name="question13" value="d"> Integer pharetra, elit non scelerisque bibendum, eros massa maximus quam, dignissim sagittis nisi tortor at nibh.</p>
</div>

<div class="rounded-purple">
<p><strong>Question 14</strong>: A, B, C or D?</p>
<p><input type="radio" name="question14" value="a"> In elementum in erat pulvinar tincidunt. </p>
<p><input type="radio" name="question14" value="b"> Duis tincidunt, lectus non luctus semper, lectus ex convallis dui, a aliquam erat enim quis ex.</p>
<p><input type="radio" name="question14" value="c"> Fusce non nibh non metus consectetur pretium id vel risus.</p>
<p><input type="radio" name="question14" value="d"> Nullam consequat varius odio sit amet laoreet.</p>
</div>

<div class="rounded-green">
<p><strong>Question 15</strong>: A, B, C or D?</p>
<p><input type="radio" name="question15" value="a"> quisque</p>
<p><input type="radio" name="question15" value="b"> interdum</p>
<p><input type="radio" name="question15" value="c"> pretium</p>
<p><input type="radio" name="question15" value="d"> sollicitudin</p>
</div>
<!-- New Buttons -->
<p>
<div class="pure-controls">
 	<button type="submit" class="pure-button pure-button-primary">Next Page</button>
 	<button onclick="goBack()" class="pure-button pure-button-primary">Go Back</button>
</div>
</form>
</p>

<!-- Old Buttons -->
<!-- <p>
	<button type="submit" class="button">Next Page</button>
	</form>
 -->
	<!-- <form action="/questionpg2" action="post">
	<button type="submit" class="button">Back</button>
	</form> -->
	<!-- <button onclick="goBack()">Go Back</button>
</p> -->


<!--   <form action='/delete_table4' method='post'>
    <input type = "submit" value = "Delete Data">
    </form> -->

    <!-- CheckBox Muliple Answer/Multiple Choice -->
<!-- <form class="pure-form">
    <label for="option-one" class="pure-checkbox">
        <input id="option-one" type="checkbox" value="">
        Here's option one.
        <input id="option-one" type="checkbox" value="">
        Here's option one.
        <input id="option-one" type="checkbox" value="">
        Here's option one.
        <input id="option-one" type="checkbox" value="">
        Here's option one.
        <input id="option-one" type="checkbox" value="">
        Here's option one.
        <input id="option-one" type="checkbox" value="">
        Here's option one.
        <input id="option-one" type="checkbox" value="">
        Here's option one.
        <input id="option-one" type="checkbox" value="">
        Here's option one.
    </label>
</form> -->