<div class="container">
<form action="/questions2" method="post" class="pure-form">
<p><h3>Questions #11-15, pg.3</h3></p>
<!-- MULTIPLE ANSWER MULTIPLE CHOICE -->
<!-- New Buttons -->
<p>
<div class="pure-controls">
 	<button type="submit" class="pure-button pure-button-primary">Next Page</button>
 	<button onclick="goBack()" class="pure-button pure-button-primary">Go Back</button>
</div>
</p>
<!-- Old Buttons -->
<!-- <p>
	<button type="submit" class="button">Next Page</button>
	<button onclick="goBack()">Go Back</button>
</p> -->

<div required class="rounded-green question">
<p><STRONG>Question 11</STRONG>: Please check all that apply:</p>
<fieldset>
	<p><input type="checkbox" name="question11" value="">Option 1</p>
	<p><input type="checkbox" name="question11" value="">Option 2</p>
	<p><input type="checkbox" name="question11" value="">Option 3</p>
	<p><input type="checkbox" name="question11" value="">Option 4</p>
	<p><input type="checkbox" name="question11" value="">Option 5</p>
	<p><input type="checkbox" name="question11" value="">Option 6</p>
	<p><input type="checkbox" name="question11" value="">Option 7</p>
</fieldset>
</div>

<div class="rounded-purple question">
<p><STRONG>Question 12</STRONG>: Please check all that apply:</p>
<fieldset>
	<p><input type="checkbox" name="question11" value="">Option 1</p>
	<p><input type="checkbox" name="question12" value="">Option 2</p>
	<p><input type="checkbox" name="question12" value="">Option 3</p>
	<p><input type="checkbox" name="question12" value="">Option 4</p>
	<p><input type="checkbox" name="question12" value="">Option 5</p>
	<p><input type="checkbox" name="question12" value="">Option 6</p>
	<p><input type="checkbox" name="question12" value="">Option 7</p>
</fieldset>
</div>

<div class="rounded-green">
<p><STRONG>Question 13</STRONG>: Please check all that apply:</p>
<fieldset>
	<p><input type="checkbox" name="question11" value="">Option 1</p>
	<p><input type="checkbox" name="question13" value="">Option 2</p>
	<p><input type="checkbox" name="question13" value="">Option 3</p>
	<p><input type="checkbox" name="question13" value="">Option 4</p>
	<p><input type="checkbox" name="question13" value="">Option 5</p>
	<p><input type="checkbox" name="question13" value="">Option 6</p>
	<p><input type="checkbox" name="question13" value="">Option 7</p>
</fieldset>
</div>

<div class="rounded-purple">
<p><STRONG>Question 14</STRONG>: Please check all that apply:</p>
<fieldset>
	<p><input type="checkbox" name="question11" value="">Option 1</p>
	<p><input type="checkbox" name="question14" value="">Option 2</p>
	<p><input type="checkbox" name="question14" value="">Option 3</p>
	<p><input type="checkbox" name="question14" value="">Option 4</p>
	<p><input type="checkbox" name="question14" value="">Option 5</p>
	<p><input type="checkbox" name="question14" value="">Option 6</p>
	<p><input type="checkbox" name="question14" value="">Option 7</p>
</fieldset>
</div>

<div class="rounded-green">
<p><STRONG>Question 15</STRONG>: Please check all that apply:</p>
<fieldset>
	<p><input type="checkbox" name="question11" value="">Option 1</p>
	<p><input type="checkbox" name="question15" value="">Option 2</p>
	<p><input type="checkbox" name="question15" value="">Option 3</p>
	<p><input type="checkbox" name="question15" value="">Option 4</p>
	<p><input type="checkbox" name="question15" value="">Option 5</p>
	<p><input type="checkbox" name="question15" value="">Option 6</p>
	<p><input type="checkbox" name="question15" value="">Option 7</p>
</fieldset>
</div>
<!-- New Buttons -->
<p>
<div class="pure-controls">
 	<button type="submit" class="pure-button pure-button-primary">Next Page</button>
 	<button onclick="goBack()" class="pure-button pure-button-primary">Go Back</button>
</div>
</form>
</p>

<!-- Old Buttons -->
<!-- <p>
	<button type="submit" class="button">Next Page</button>
	</form>
 -->
	<!-- <form action="/questionpg2" action="post">
	<button type="submit" class="button">Back</button>
	</form> -->
	<!-- <button onclick="goBack()">Go Back</button>
</p> -->


<!--   <form action='/delete_table4' method='post'>
    <input type = "submit" value = "Delete Data">
    </form> -->

    <!-- CheckBox Muliple Answer/Multiple Choice -->
<!-- <form class="pure-form">
    <label for="option-one" class="pure-checkbox">
        <input id="option-one" type="checkbox" value="">
        Here's option one.
        <input id="option-one" type="checkbox" value="">
        Here's option one.
        <input id="option-one" type="checkbox" value="">
        Here's option one.
        <input id="option-one" type="checkbox" value="">
        Here's option one.
        <input id="option-one" type="checkbox" value="">
        Here's option one.
        <input id="option-one" type="checkbox" value="">
        Here's option one.
        <input id="option-one" type="checkbox" value="">
        Here's option one.
        <input id="option-one" type="checkbox" value="">
        Here's option one.
    </label>
</form> -->