<div class="container">
<form action="/questions1" method="post">
<p><h3>Questions #6-10, pg.2</h3></p>
<!-- MULTIPLE CHOICE -->
<p>
<div class="pure-controls">
 	<button type="submit" class="pure-button button-go">Continue</button>
 	<button onclick="goBack()" class="pure-button btn-mm">Go Back</button>
</div>
</p>
<!-- <div required class="rounded-green question">
<p><STRONG>Question 6</STRONG>: A, B, C or D?</p>
<p><input required type="radio" name="question6" value="lorem"> lorem</p>
<p><input type="radio" name="question6" value="ipsum"> ipsum</p>
<p><input type="radio" name="question6" value="dolor"> dolor</p>
<p><input type="radio" name="question6" value="sit"> sit</p>
</div>
<br>
<div class="rounded-purple question">
<p><strong>Question 7</strong>: A, B, C or D?</p>
<p><input type="radio" name="question7" value="amet"> amet</p>
<p><input type="radio" name="question7" value="consectetur"> consectetur</p>
<p><input type="radio" name="question7" value="adipiscing"> adipiscing</p>
<p><input type="radio" name="question7" value="elit"> elit</p>
</div>
<br>
<div class="rounded-green">
<p><STRONG>Question 8</STRONG>: A, B, C or D?</p>
<p><input type="radio" name="question8" value="elit"> elit</p>
<p><input type="radio" name="question8" value="adipiscing"> adipiscing</p>
<p><input type="radio" name="question8" value="c"> Vivamus ac sapien purus.</p>
<p><input type="radio" name="question8" value="consectetur"> consectetur</p>
</div>
<br>
<div class="rounded-purple">
<p><strong>Question 9</strong>: A, B, C or D?</p>
<p><input type="radio" name="question9" value="In elementum in erat pulvinar tincidunt."> In elementum in erat pulvinar tincidunt. </p>
<p><input type="radio" name="question9" value="Vivamus ac sapien purus."> Vivamus ac sapien purus.</p>
<p><input type="radio" name="question9" value="Fusce non nibh non metus consectetur"> Fusce non nibh non metus consectetur</p>
<p><input type="radio" name="question9" value="sollicitudin"> sollicitudin</p>
</div>
<br>
<div class="rounded-green">
<p><strong>Question 10</strong>: A, B, C or D?</p>
<p><input type="radio" name="question10" value="quisque">quisque</p>
<p><input type="radio" name="question10" value="interdum">interdum</p>
<p><input type="radio" name="question10" value="pretium">pretium</p>
<p><input type="radio" name="question10" value="sollicitudin">sollicitudin</p>
</div>

<p>
<div class="pure-controls button-position">
    <div style='float: left';>
        <button type="submit" class="pure-button button-go">Continue</button>
        <button onclick="goBack()" class="pure-button btn-mm">Go Back</button>
    </div>
    <div style='float: right';>
        <button type="submit" class="pure-button btn-mm">Save and Quit</button>
    </div>
</div>
</form>
</p> -->
<!-- start client questions page 2 -->

<div class="container">
	<form action="/questions1" method="post">
		<p><h3>Questions #4-6, pg.2</h3></p>
		<br>
		<div class="rounded-green">
			<p><strong>Question 4</strong> Why are you interested in the training?</p>
				<input name="question4" type="text" placeholder=" Must be between 1 and 1000 characters" class="answer-box" required>
		</div>
		<br>
		<div class="rounded-purple">
			<p><strong>Question 5</strong> Describe a time when you felt successful.</p>
				<input name="question5" type="text" placeholder=" Must be between 1 and 1000 characters" class="answer-box" required>
		</div>
		<br>
		<div class="rounded-green">
			<p><strong>Question 6</strong> Describe a time when you have failed and how you handled that.</p>
				<input name="question6" type="text" placeholder=" Must be between 1 and 1000 characters" class="answer-box" required>
		</div>
	</form>
</div>
<p>
<div class="pure-controls button-position">
    <div style='float: left';>
        <button type="submit" class="pure-button button-go">Continue</button>
        <button onclick="goBack()" class="pure-button btn-mm">Go Back</button>
    </div>
    <div style='float: right';>
        <button type="submit" class="pure-button btn-mm">Save and Quit</button>
    </div>
</div>
</form>
</p>