<div class="container">
<form action="/questions3" method="post">
<p><h3>Questions #16-20, pg.4</h3></p>

<p>
	<button type="submit" class="button">Next Page</button>
	<button type="submit" class="button">Last Page</button>
</p>

<div required class="rounded-green question">
<p><STRONG>Question 16</STRONG>: A, B, C or D?</p>
<p><input required type="radio" name="question16" value="a">lorem</p>
<p><input type="radio" name="question16" value="b"> ipsum</p>
<p><input type="radio" name="question16" value="c"> dolor</p>
<p><input type="radio" name="question16" value="d"> sit</p>
</div>

<div class="rounded-purple question">
<p><strong>Question 17</strong>: A, B, C or D?</p>
<p><input type="radio" name="question17" value="a"> amet</p>
<p><input type="radio" name="question17" value="b"> consectetur</p>
<p><input type="radio" name="question17" value="c"> adipiscing</p>
<p><input type="radio" name="question17" value="d"> elit</p>
</div>

<div class="rounded-green">
<p><STRONG>Question 18</STRONG>: A, B, C or D?</p>
<p><input type="radio" name="question18" value="a"> Suspendisse dignissim placerat leo, quis fringilla turpis interdum ac.</p>
<p><input type="radio" name="question18" value="b"> Duis varius orci vitae porta commodo.</p>
<p><input type="radio" name="question18" value="c"> Vivamus ac sapien purus.</p>
<p><input type="radio" name="question18" value="d"> Integer pharetra, elit non scelerisque bibendum, eros massa maximus quam, dignissim sagittis nisi tortor at nibh.</p>
</div>

<div class="rounded-purple">
<p><strong>Question 19</strong>: A, B, C or D?</p>
<p><input type="radio" name="question19" value="a"> In elementum in erat pulvinar tincidunt. </p>
<p><input type="radio" name="question19" value="b"> Duis tincidunt, lectus non luctus semper, lectus ex convallis dui, a aliquam erat enim quis ex.</p>
<p><input type="radio" name="question19" value="c"> Fusce non nibh non metus consectetur pretium id vel risus.</p>
<p><input type="radio" name="question19" value="d"> Nullam consequat varius odio sit amet laoreet.</p>
</div>

<div class="rounded-green">
<p><strong>Question 20</strong>: A, B, C or D?</p>
<p><input type="radio" name="question20" value="a"> quisque</p>
<p><input type="radio" name="question20" value="b"> interdum</p>
<p><input type="radio" name="question20" value="c"> pretium</p>
<p><input type="radio" name="question20" value="d"> sollicitudin</p>
</div>

<p>
	<button type="submit" class="button">Next Page</button>
	</form>

	<form action="/questionpg3" action="post">
	<button type="submit" class="button">Back</button>
	</form>
</p>
