.button-go,
        .button-error,
        .button-warning,
        .button-secondary, .btn-mm {
            color: white;
            border-radius: 4px;
            text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
            font-size: 85%;
        }
.btn-mm {
    background: rgb(25, 25, 112); /* this is a darkblue */
}
.button-go {
    background: rgb(28, 184, 65); /* this is a green */
}

.button-error {
    background: rgb(202, 60, 60); /* this is a maroon */
}

.button-warning {
    /*background: rgb(223, 117, 20);*/ /* this is an orange */
    background: rgb(255, 165, 0); /* this is an orange */
}

.button-secondary {
    background: rgb(66, 184, 221); /* this is a light blue */
}
.btn-small {
          font-size: 85%;
      }
.button-position {
  display:inline-block;
  width:100%;
  overflow: auto;
  white-space: nowrap;
  margin:0px auto;
}
.field_set {
  border-color: #03255b;
  border-width: 2px;
  background-color: white;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
    }
#logo-big {
  width: 1120px;
}
.form {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}

#review-header {
  font-size: 30px;
}

.img {
    width: max-width;
    height: auto;
    position: top left;
  }

h2 {
  font-family: Helvetica;
  font-size: 50px;
  color: #03255b;
  }

h3 {
  font-family: Helvetica;
  color: #03255b;
}
.blue-spacer {
  border-width: 9px;
  border-color: #1D297B;
  }
h4 {
  font-size: 20px;
  font-family: Helvetica;
}
.logo {
  position: relative;
  width: 10px;
  height: 10px;
  float: left;
  margin-top: 16px;
}
.rounded-green{
  padding: 2px;
  background-color: #66C3AD;
  color: #03255b;
  font-weight: bold;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  }

.rounded-purple{
  padding: 2px;
  background-color: #68679F;
  color: #03255b;
  font-weight: bold;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  }
.inner-wrapper {
  float: left;
  width: 50%;
  background-color: #66C3AD; /*mint green*/
}
#legend {
  color: #1D297B;
}
body {
  color: #03255b;
  font-size: 20px;
}
label {
  color: #03255b;
}
.answer-box {
  border-color: #03255b;  
  width: 100%;
  height: 100px;
}
.short-answer-box {
  border-color: #03255b;  
  /*width: 100%;
  height: 100px;*/
}
.skinny-font {
  font-weight: lighter;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
    .button {
      width: 100%;
      }
    }
table, th, td {
  border: 3px solid white;
  text-align: center;
  width: 50%;
}
hr {

}